* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e2749;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.winner {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 36px;
}

/* CLASSES UTILITAIRES */
.green {
  color: green;
}

.red {
  color : red;
}
/* */

.score {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  margin-top: 36px;
  margin-bottom: 36px;
  text-transform: uppercase;
}

.scores {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 56px;
}

.choices {
  display: flex;
  justify-content: space-between;
}

.choice-user div img,
.choice-computer div img {
  margin-bottom: 18px;
}
