* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e2749;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
